In [104]:
import pandas as pd
import json

In [130]:
data = pd.read_csv('data.csv')

In [131]:
data = data.loc[(data['year']>=2005)&(data['year']<=2015)]

In [132]:
overall = data.groupby('year')[['suicides_no','population']].apply(lambda x: x['suicides_no'].sum()/x['population'].sum()*100).to_list()

In [133]:
total_overall = {}
for i in range(2005,2016):
    inner_dict = {}
    inner_dict['year'] = str(i)
    inner_dict['suicide_rate'] = overall[i-2005]
    total_overall[str(i)]=inner_dict

In [134]:
country_suicide = data.groupby(['year','country'])[['suicides_no','population']].apply(lambda x: x['suicides_no'].sum()/x['population'].sum()*100).to_frame().reset_index().rename(columns={0:'suicide_rate'})

In [135]:
GDP_country = data.groupby(['year','country'])['gdp_per_capita ($)'].mean().to_frame().rename(columns={0:'GDP per capita'}).reset_index()

In [136]:
data[data['country']=='Japan']

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
13604,Japan,2005,male,55-74 years,8005,15797130,50.67,Japan2005,0.874,"4,755,410,630,912",39412,Silent
13605,Japan,2005,male,35-54 years,8073,16566953,48.73,Japan2005,0.874,"4,755,410,630,912",39412,Boomers
13606,Japan,2005,male,75+ years,1858,4288706,43.32,Japan2005,0.874,"4,755,410,630,912",39412,Silent
13607,Japan,2005,male,25-34 years,2862,8984855,31.85,Japan2005,0.874,"4,755,410,630,912",39412,Generation X
13608,Japan,2005,female,75+ years,1600,7307828,21.89,Japan2005,0.874,"4,755,410,630,912",39412,Silent
...,...,...,...,...,...,...,...,...,...,...,...,...
13731,Japan,2015,female,35-54 years,2024,16991218,11.91,Japan2015,NaN,"4,394,977,752,878",36510,Generation X
13732,Japan,2015,female,25-34 years,685,6614211,10.36,Japan2015,NaN,"4,394,977,752,878",36510,Millenials
13733,Japan,2015,female,15-24 years,408,5772938,7.07,Japan2015,NaN,"4,394,977,752,878",36510,Millenials
13734,Japan,2015,male,5-14 years,62,5553851,1.12,Japan2015,NaN,"4,394,977,752,878",36510,Generation Z
13735,Japan,2015,female,5-14 years,28,5287719,0.53,Japan2015,NaN,"4,394,977,752,878",36510,Generation Z

In [137]:
graph2 = country_suicide.merge(GDP_country)

In [138]:
graph2['output'] = graph2.apply(lambda x:[x['suicide_rate'],x['gdp_per_capita ($)']],axis=1)

In [139]:
graph2.head(2)

   year              country  suicide_rate  gdp_per_capita ($)        output
0  2005              Albania           0.0                2931   [0.0, 2931]
1  2005  Antigua and Barbuda           0.0               12649  [0.0, 12649]

In [140]:
graph2_dict = {}
for i in range(2005,2016):
    inner = graph2.loc[graph2['year']==i]
    value = inner['output'].values
    countries = inner['country'].values
    inner_dict = {}
    for j in range(len(countries)):
        inner_dict[countries[j]]=value[j]
    graph2_dict[str(i)] = inner_dict

In [148]:
c = data.groupby(['year','age'])[['suicides_no','population']].apply(lambda x: x['suicides_no'].sum()/x['population'].sum()*100).to_frame().rename(columns={0:'proportion'}).reset_index()

In [153]:
c['prop_in_group'] = c.groupby('year')['proportion'].apply(lambda x: x/x.sum()*100)

In [168]:
out1 = {}
for i in range(2005,2016):
    yearlist = []
    curr = c[c['year']==i].reset_index(drop=True)
    for j in range(len(curr)):
        inner1 = {}
        inner1['name']=curr.age[j]
        inner1['weight'] = curr.proportion[j]
        yearlist+=[inner1]
    out1[str(i)]=yearlist

In [169]:
out1

{'2005': [{'name': '15-24 years', 'weight': 0.009635479795514358},
  {'name': '25-34 years', 'weight': 0.013453973672914187},
  {'name': '35-54 years', 'weight': 0.017439895539562163},
  {'name': '5-14 years', 'weight': 0.0006709596967634338},
  {'name': '55-74 years', 'weight': 0.018797578682099268},
  {'name': '75+ years', 'weight': 0.023132009141181617}],
 '2006': [{'name': '15-24 years', 'weight': 0.009155839646767137},
  {'name': '25-34 years', 'weight': 0.0126033660729196},
  {'name': '35-54 years', 'weight': 0.016221823377121827},
  {'name': '5-14 years', 'weight': 0.0006194191459959174},
  {'name': '55-74 years', 'weight': 0.017790258070644077},
  {'name': '75+ years', 'weight': 0.022270990794608304}],
 '2007': [{'name': '15-24 years', 'weight': 0.009059153509160187},
  {'name': '25-34 years', 'weight': 0.012720702605823657},
  {'name': '35-54 years', 'weight': 0.015795192827402365},
  {'name': '5-14 years', 'weight': 0.0005944600908719942},
  {'name': '55-74 years', 'weight': 0.01743353936463109},
  {'name': '75+ years', 'weight': 0.0222367339426252}],
 '2008': [{'name': '15-24 years', 'weight': 0.009313341478974708},
  {'name': '25-34 years', 'weight': 0.012689727363546836},
  {'name': '35-54 years', 'weight': 0.01596641690516499},
  {'name': '5-14 years', 'weight': 0.0005880161674041297},
  {'name': '55-74 years', 'weight': 0.01737233614881101},
  {'name': '75+ years', 'weight': 0.02198681955740621}],
 '2009': [{'name': '15-24 years', 'weight': 0.008859530714573571},
  {'name': '25-34 years', 'weight': 0.012363349038376333},
  {'name': '35-54 years', 'weight': 0.015713336698086208},
  {'name': '5-14 years', 'weight': 0.000617316086273203},
  {'name': '55-74 years', 'weight': 0.01704679984011148},
  {'name': '75+ years', 'weight': 0.020931033474679905}],
 '2010': [{'name': '15-24 years', 'weight': 0.008610930260873955},
  {'name': '25-34 years', 'weight': 0.011926448131154338},
  {'name': '35-54 years', 'weight': 0.015033372472803345},
  {'name': '5-14 years', 'weight': 0.0005919597636876443},
  {'name': '55-74 years', 'weight': 0.016540641511821778},
  {'name': '75+ years', 'weight': 0.0207466793801083}],
 '2011': [{'name': '15-24 years', 'weight': 0.008805645596086148},
  {'name': '25-34 years', 'weight': 0.011925365544863935},
  {'name': '35-54 years', 'weight': 0.014746625780830984},
  {'name': '5-14 years', 'weight': 0.0006385983728880508},
  {'name': '55-74 years', 'weight': 0.016101453008527843},
  {'name': '75+ years', 'weight': 0.020607725037566173}],
 '2012': [{'name': '15-24 years', 'weight': 0.008907850603983455},
  {'name': '25-34 years', 'weight': 0.012071455581354577},
  {'name': '35-54 years', 'weight': 0.014772591630334446},
  {'name': '5-14 years', 'weight': 0.0006448742528886087},
  {'name': '55-74 years', 'weight': 0.015999431496339638},
  {'name': '75+ years', 'weight': 0.02063950469891352}],
 '2013': [{'name': '15-24 years', 'weight': 0.00841374860858617},
  {'name': '25-34 years', 'weight': 0.011739849868183293},
  {'name': '35-54 years', 'weight': 0.01457559175913298},
  {'name': '5-14 years', 'weight': 0.0006734404082203344},
  {'name': '55-74 years', 'weight': 0.015810103340547194},
  {'name': '75+ years', 'weight': 0.02017471067232171}],
 '2014': [{'name': '15-24 years', 'weight': 0.008348587944476401},
  {'name': '25-34 years', 'weight': 0.011687133767522194},
  {'name': '35-54 years', 'weight': 0.014229673098903169},
  {'name': '5-14 years', 'weight': 0.000701610537295549},
  {'name': '55-74 years', 'weight': 0.01542514917754915},
  {'name': '75+ years', 'weight': 0.020194186616293682}],
 '2015': [{'name': '15-24 years', 'weight': 0.008346640373303672},
  {'name': '25-34 years', 'weight': 0.011501514067003808},
  {'name': '35-54 years', 'weight': 0.0138181906403653},
  {'name': '5-14 years', 'weight': 0.0006815703021338709},
  {'name': '55-74 years', 'weight': 0.01511368287021958},
  {'name': '75+ years', 'weight': 0.01983028437206037}]}

In [172]:
out1

{'2005': [{'name': '15-24 years', 'weight': 0.009635479795514358},
  {'name': '25-34 years', 'weight': 0.013453973672914187},
  {'name': '35-54 years', 'weight': 0.017439895539562163},
  {'name': '5-14 years', 'weight': 0.0006709596967634338},
  {'name': '55-74 years', 'weight': 0.018797578682099268},
  {'name': '75+ years', 'weight': 0.023132009141181617}],
 '2006': [{'name': '15-24 years', 'weight': 0.009155839646767137},
  {'name': '25-34 years', 'weight': 0.0126033660729196},
  {'name': '35-54 years', 'weight': 0.016221823377121827},
  {'name': '5-14 years', 'weight': 0.0006194191459959174},
  {'name': '55-74 years', 'weight': 0.017790258070644077},
  {'name': '75+ years', 'weight': 0.022270990794608304}],
 '2007': [{'name': '15-24 years', 'weight': 0.009059153509160187},
  {'name': '25-34 years', 'weight': 0.012720702605823657},
  {'name': '35-54 years', 'weight': 0.015795192827402365},
  {'name': '5-14 years', 'weight': 0.0005944600908719942},
  {'name': '55-74 years', 'weight': 0.01743353936463109},
  {'name': '75+ years', 'weight': 0.0222367339426252}],
 '2008': [{'name': '15-24 years', 'weight': 0.009313341478974708},
  {'name': '25-34 years', 'weight': 0.012689727363546836},
  {'name': '35-54 years', 'weight': 0.01596641690516499},
  {'name': '5-14 years', 'weight': 0.0005880161674041297},
  {'name': '55-74 years', 'weight': 0.01737233614881101},
  {'name': '75+ years', 'weight': 0.02198681955740621}],
 '2009': [{'name': '15-24 years', 'weight': 0.008859530714573571},
  {'name': '25-34 years', 'weight': 0.012363349038376333},
  {'name': '35-54 years', 'weight': 0.015713336698086208},
  {'name': '5-14 years', 'weight': 0.000617316086273203},
  {'name': '55-74 years', 'weight': 0.01704679984011148},
  {'name': '75+ years', 'weight': 0.020931033474679905}],
 '2010': [{'name': '15-24 years', 'weight': 0.008610930260873955},
  {'name': '25-34 years', 'weight': 0.011926448131154338},
  {'name': '35-54 years', 'weight': 0.015033372472803345},
  {'name': '5-14 years', 'weight': 0.0005919597636876443},
  {'name': '55-74 years', 'weight': 0.016540641511821778},
  {'name': '75+ years', 'weight': 0.0207466793801083}],
 '2011': [{'name': '15-24 years', 'weight': 0.008805645596086148},
  {'name': '25-34 years', 'weight': 0.011925365544863935},
  {'name': '35-54 years', 'weight': 0.014746625780830984},
  {'name': '5-14 years', 'weight': 0.0006385983728880508},
  {'name': '55-74 years', 'weight': 0.016101453008527843},
  {'name': '75+ years', 'weight': 0.020607725037566173}],
 '2012': [{'name': '15-24 years', 'weight': 0.008907850603983455},
  {'name': '25-34 years', 'weight': 0.012071455581354577},
  {'name': '35-54 years', 'weight': 0.014772591630334446},
  {'name': '5-14 years', 'weight': 0.0006448742528886087},
  {'name': '55-74 years', 'weight': 0.015999431496339638},
  {'name': '75+ years', 'weight': 0.02063950469891352}],
 '2013': [{'name': '15-24 years', 'weight': 0.00841374860858617},
  {'name': '25-34 years', 'weight': 0.011739849868183293},
  {'name': '35-54 years', 'weight': 0.01457559175913298},
  {'name': '5-14 years', 'weight': 0.0006734404082203344},
  {'name': '55-74 years', 'weight': 0.015810103340547194},
  {'name': '75+ years', 'weight': 0.02017471067232171}],
 '2014': [{'name': '15-24 years', 'weight': 0.008348587944476401},
  {'name': '25-34 years', 'weight': 0.011687133767522194},
  {'name': '35-54 years', 'weight': 0.014229673098903169},
  {'name': '5-14 years', 'weight': 0.000701610537295549},
  {'name': '55-74 years', 'weight': 0.01542514917754915},
  {'name': '75+ years', 'weight': 0.020194186616293682}],
 '2015': [{'name': '15-24 years', 'weight': 0.008346640373303672},
  {'name': '25-34 years', 'weight': 0.011501514067003808},
  {'name': '35-54 years', 'weight': 0.0138181906403653},
  {'name': '5-14 years', 'weight': 0.0006815703021338709},
  {'name': '55-74 years', 'weight': 0.01511368287021958},
  {'name': '75+ years', 'weight': 0.01983028437206037}]}

In [170]:
output = [total_overall,graph2_dict,out1]

In [171]:
with open('dataset1.json', 'w') as fp:
    json.dump(output, fp)

In [90]:
out = []
for i in range(2005,2016):
    out+=[str(i)]

In [92]:
import numpy as np
np.array(out)

array(['2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014', '2015'], dtype='<U4')

In [117]:
data.groupby(['year'])['country'].nunique()

year
2005    84
2006    85
2007    86
2008    85
2009    89
2010    88
2011    86
2012    81
2013    80
2014    78
2015    62
Name: country, dtype: int64

In [119]:
out = []
for i in range(89):
    out+=[{}]

In [121]:
np.array(out)

array([{}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {},
       {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {},
       {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {},
       {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {},
       {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {},
       {}, {}, {}, {}], dtype=object)